* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: $light-grey;
}

// Margenes para los botones
.mt-1 {
    margin-top: 10px;
}

.mb-1 {
    margin-bottom: 10px;
}

.ml-1 {
    margin-left: 10px;
}

.mr-1 {
    margin-right: 10px;
}