// Colores del sistema
$primary: #5C62C5;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$white: #fff;
$black: #262833;

// Colores de botones
$button-primary: #0336FF;
$button-secondary: #FF0266;
$button-warning: #FFDE03;
$button-success: #03DAC6;
$button-info: #6200EE;
$button-dark: #262833;